In [1]:
import pandas as pd
final = pd.read_csv('new_final_modified_datasource.csv')

In [2]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20464 entries, 0 to 20463
Data columns (total 35 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 20464 non-null  int64
 1   YearStart                  20464 non-null  int64
 2   YearEnd                    20464 non-null  int64
 3   LocationAbbr               20464 non-null  object
 4   LocationDesc               20464 non-null  object
 5   DataSource                 20464 non-null  object
 6   Topic                      20464 non-null  object
 7   Question                   20464 non-null  object
 8   Response                   0 non-null      float64
 9   DataValueUnit              20464 non-null  object
 10  DataValueType              20464 non-null  object
 11  DataValue                  15775 non-null  float64
 12  DataValueAlt               15775 non-null  float64
 13  DataValueFootnoteSymbol    4689 non-null   object
 14  DatavalueFootnote          4689 non-null   object
 15  LowConfidenceLimit         15775 non-null  float64
 16  HighConfidenceLimit        15775 non-null  float64
 17  StratificationCategory1    20464 non-null  object
 18  Stratification1            20464 non-null  object
 19  StratificationCategory2    0 non-null      float64
 20  Stratification2            0 non-null      float64
 21  StratificationCategory3    0 non-null      float64
 22  Stratification3            0 non-null      float64
 23  GeoLocation                20400 non-null  object
 24  ResponseID                 0 non-null      float64
 25  LocationID                 20464 non-null  int64
 26  TopicID                    20464 non-null  object
 27  QuestionID                 20464 non-null  object
 28  DataValueTypeID            20464 non-null  object
 29  StratificationCategoryID1  20464 non-null  object
 30  StratificationID1          20464 non-null  object
 31  StratificationCategoryID2  0 non-null      float64
 32  StratificationID2          0 non-null      float64
 33  StratificationCategoryID3  0 non-null      float64
 34  StratificationID3          0 non-null      float64
dtypes: float64(14), int64(4), object(17)
memory usage: 5.5+ MB

In [3]:
final.head()

,Unnamed: 0,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,68,2015,2015,AL,Alabama,NVSS,Cardiovascular Disease,Mortality from heart failure,NaN,"cases per 100,000",...,1,CVD,CVD1_4,CRDRATE,OVERALL,OVR,NaN,NaN,NaN,NaN
1,126,2012,2012,AL,Alabama,NVSS,Cardiovascular Disease,Mortality from diseases of the heart,NaN,"cases per 100,000",...,1,CVD,CVD1_2,CRDRATE,GENDER,GENF,NaN,NaN,NaN,NaN
2,217,2015,2015,AL,Alabama,NVSS,Cardiovascular Disease,Mortality from coronary heart disease,NaN,"cases per 100,000",...,1,CVD,CVD1_3,CRDRATE,RACE,HIS,NaN,NaN,NaN,NaN
3,294,2015,2015,AL,Alabama,NVSS,Cardiovascular Disease,Mortality from diseases of the heart,NaN,"cases per 100,000",...,1,CVD,CVD1_2,CRDRATE,RACE,HIS,NaN,NaN,NaN,NaN
4,311,2015,2015,AL,Alabama,NVSS,Cardiovascular Disease,Mortality from heart failure,NaN,"cases per 100,000",...,1,CVD,CVD1_4,CRDRATE,RACE,HIS,NaN,NaN,NaN,NaN

In [4]:
final = final.drop(['Unnamed: 0','YearEnd',], axis=1)
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20464 entries, 0 to 20463
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   YearStart                  20464 non-null  int64
 1   LocationAbbr               20464 non-null  object
 2   LocationDesc               20464 non-null  object
 3   DataSource                 20464 non-null  object
 4   Topic                      20464 non-null  object
 5   Question                   20464 non-null  object
 6   Response                   0 non-null      float64
 7   DataValueUnit              20464 non-null  object
 8   DataValueType              20464 non-null  object
 9   DataValue                  15775 non-null  float64
 10  DataValueAlt               15775 non-null  float64
 11  DataValueFootnoteSymbol    4689 non-null   object
 12  DatavalueFootnote          4689 non-null   object
 13  LowConfidenceLimit         15775 non-null  float64
 14  HighConfidenceLimit        15775 non-null  float64
 15  StratificationCategory1    20464 non-null  object
 16  Stratification1            20464 non-null  object
 17  StratificationCategory2    0 non-null      float64
 18  Stratification2            0 non-null      float64
 19  StratificationCategory3    0 non-null      float64
 20  Stratification3            0 non-null      float64
 21  GeoLocation                20400 non-null  object
 22  ResponseID                 0 non-null      float64
 23  LocationID                 20464 non-null  int64
 24  TopicID                    20464 non-null  object
 25  QuestionID                 20464 non-null  object
 26  DataValueTypeID            20464 non-null  object
 27  StratificationCategoryID1  20464 non-null  object
 28  StratificationID1          20464 non-null  object
 29  StratificationCategoryID2  0 non-null      float64
 30  StratificationID2          0 non-null      float64
 31  StratificationCategoryID3  0 non-null      float64
 32  StratificationID3          0 non-null      float64
dtypes: float64(14), int64(2), object(17)
memory usage: 5.2+ MB

In [5]:
final = final.drop([
 'DataValueType','DataValueUnit', 'StratificationCategory2',
'Stratification2',            'StratificationCategory3',      'Stratification3',             'GeoLocation',              
  'ResponseID',                
   'LocationID',                
   'TopicID',                     'QuestionID',                 
   'DataValueTypeID',            
   'StratificationCategoryID1',
   'StratificationID1',        
   'StratificationCategoryID2',
   'StratificationID2',   
   'StratificationCategoryID3',
 'StratificationID3','Response','DataSource','Topic','LocationDesc','DataValueAlt','LowConfidenceLimit','HighConfidenceLimit','DatavalueFootnote','DataValueFootnoteSymbol'], axis=1)
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20464 entries, 0 to 20463
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   YearStart                20464 non-null  int64
 1   LocationAbbr             20464 non-null  object
 2   Question                 20464 non-null  object
 3   DataValue                15775 non-null  float64
 4   StratificationCategory1  20464 non-null  object
 5   Stratification1          20464 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 959.4+ KB

In [6]:
final = final.rename(columns = {'YearStart':'Year'})
final = final.rename(columns = {'LocationAbbr':'STATE'})
final.sort_values(by=['STATE'])
final.to_csv('new_final_modified_target.csv')